$theme-color: #28AF49;
$warm-background: #fcf5e2;
$cool-background: #f7f7fa;
$light-hover-color: #f7f7fa;

$text-color-primary: #000;
$text-color-secondary: #737373;
$text-color-tertiary: #bbb;

$up-color: #da552f;
$down-color: #00a3e1;

$link-color: #F13E21;
$link-color-hover: #731F12;