.item {

    .actions {
        margin-top: 12px;
        margin-bottom: 18px;
    }

    .vote-count {
        color: $text-color-tertiary;
        font-size: 18px;
        margin-right: 10px;
    }

    .caption {
        margin-top: 20px;
        color: $text-color-secondary;
        font-size: 16px;
    }
}