<div class="item content">
    <div class="photo">
        <h3 class="title">{{item.title}}</h3>
        <img class="img-responsive" src="{{item.thumbnail_url}}" />
    </div>
    <div class="description">
        <div class="caption">
            <p>{{item.caption}}</p>
        </div>

    </div>
    <div class="actions">
        <span class="vote-count">{{item.votes}} votes</span>
        <button type="button" class="btn btn-sm vote up">
          <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
            Vote Higher
        </button>
        <button type="button" class="btn btn-sm vote down">
          <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            Vote Lower
        </button>
    </div>

</div>