{% extends "main.html" %}

{% block container %}
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="post">
                <h1>Top 10 things</h1>
                <p class="spacey">
                    <i class="icon-time"></i>
                    <a href="http://builtwithbootstrap.com/post/128332373260/h-code-multi-purpose-onemulti-page-template">Friday, September 4th</a>
                    <i class="icon-heart"></i>
                    <a href="http://builtwithbootstrap.com/post/128332373260/h-code-multi-purpose-onemulti-page-template">4 Notes</a>
                </p>
                <div class="tags">
                    <a class="label" href="http://builtwithbootstrap.com/tagged/featured">featured</a>
                    <a class="label" href="http://builtwithbootstrap.com/tagged/theme">theme</a>
                    <a class="label" href="http://builtwithbootstrap.com/tagged/bootstrap">bootstrap</a>
                    <div class="clear"></div>

                </div>
            </div>
            <div class="item content">
                <div class="photo">
                    <h3 class="title">1. Police Dramas</h3>
                    <img class="img-responsive" src="http://ak-hdl.buzzfed.com/static/2015-10/24/11/enhanced/webdr14/enhanced-19240-1445699152-2.jpg" />
                </div>
                <div class="description">
                    <div class="caption">
                        <p>H-Code is a responsive, creative, powerful and multi-purpose multi page and one page
                            template with latest web design trends. It is multi-purpose professional template for any
                            business like design agency, fashion, architecture, spa, restaurant, travel, corporate,
                            photography, ecommerce, personal resume, wedding, product / service, etc… with readymade
                            templates and portfolio options for quick start of their online presence with awesome
                            portfolio.</p>
                    </div>

                </div>
                <div class="actions">
                    <span class="vote-count">24 votes</span>
                    <button type="button" class="btn btn-sm vote up">
                      <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>
                        Vote Higher
                    </button>
                    <button type="button" class="btn btn-sm vote down">
                      <span class="glyphicon glyphicon-hand-down" aria-hidden="true"></span>
                        Vote Lower
                    </button>
                </div>

            </div>

        </div>
        <div class="col-xs-6 col-md-4">

        </div>

    </div>

{% endblock %}