{% extends "main.html" %}

{% block container %}
<style>

    body {
        margin-bottom: 200px;
    }

    .jumbo-text {
        font-size: 3.5em;
    }

</style>

<div class="page-header">
    <h2 class="jumbo-text">Typography</h2>
</div>
<section class="text">
    <h1>H1 Header</h1>
    <h2>H2 Header</h2>
    <h3>H2 Header</h3>
    <h4>H4 Header</h4>
    <h5>H5 Header</h5>
    <h6>H6 Header</h6>
    <p>This is a paragraph.</p>
    <p>This is a much longer paragraph. Toffee lollipop sweet roll chocolate cake lollipop
        brownie icing. Tootsie roll toffee donut lemon drops gummies apple pie brownie macaroon.
        Sweet toffee tootsie roll pastry cupcake biscuit icing chocolate. Sesame snaps cupcake
        marshmallow. Liquorice jelly donut cotton candy. Sesame snaps macaroon toffee chocolate
        cake cheesecake sesame snaps bear claw tootsie roll apple pie. Ice cream sweet roll topping.
        Pie cotton candy apple pie gummies <a href="#">cake and cookies</a> muffin cake. Cookie
        candy fruitcake dessert sugar plum. Sweet jujubes soufflé wafer cake dragée marzipan chocolate
        gummi bears. Gingerbread jelly cotton candy. Wafer pudding sweet cake donut. Tart donut donut
        candy biscuit chupa chups. Cake cake macaroon.</p>

    <h4>Unordered List</h4>
    <ul>
        <li>item one</li>
        <li>item two</li>
        <li>item three</li>
    </ul>

    <h4>Ordered List</h4>
    <ol>
        <li>item one</li>
        <li>item two</li>
        <li>item three</li>
    </ol>
</section>

<div class="page-header">
    <h2 class="jumbo-text">Components</h2>
</div>
<section class="components">
    <div class="banner">
        This is a banner <a href="#">with a link.</a>
    </div>
</section>

<div class="page-header">
    <h2 class="jumbo-text">Buttons</h2>
</div>
<section class="buttons">
    <button>Regular</button>
    <button class="vote up">Upvote</button>
    <button class="vote down">Downvote</button>
</section>

{% endblock %}